<section id="transactions">
    <h2>Manage Transactions</h2>
    <form id="transaction-form">
        <input type="hidden" id="transaction-id">
        
        <label for="transaction-customer-accountNumber">Customer accountNumber:</label>
        <input type="string" id="transaction-customer-accountNumber" required>

        <label for="customer-name">Customer Name:</label>
        <input type="string" id="customer-name" required>
        
        <label for="transaction-amount">Amount:</label>
        <input type="number" id="transaction-amount" required>
        
        <label for="transaction-date">Date:</label>
        <input type="date" id="transaction-date" required>

        <label for="transaction-description">Description:</label>
        <input type="string" id="transaction-description" required>

        <label for="transaction-type">Type:</label>
        <select id="transaction-type" required>
            <option value="">Select Type</option>
            <option value="deposit">Deposit</option>
            <option value="withdrawal">Withdrawal</option>
        </select>
        
        <button type="submit">Save</button>
        <button type="cancel" id="cancel-transaction">Cancel</button>
        <!-- <button type="button" id="delete-transaction">Delete</button>
        <button type="update" id="update-transaction">Update</button> -->
    </form>
    <div id="search-container">
        <input type="search" id="search-user" placeholder="Search User">
        <button type="button" id="search-user-btn">Search</button>
    </div>
    <ul id="transaction-list"></ul>
</section>
<script src="../../main.js"></script>